.chat-input-wrapper {
  background-color: var(--mainBackground);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_wrapper {
  display: flex;
  flex-basis: 15%;
  justify-content: space-between;
}

.navigation_btn {
  border: none;
  border-radius: 50%;
  color: var(--white);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recording_btn {
  background-color: var(--green);
  padding: 20px;
}

.recording_btn_active {
  background: var(--activeRecording);
  padding: 20px;
  z-index: 99;
  position: relative;
}

.recording_btn_active::before {
  content: "";
  width: 100px;
  height: 100px;
  background: var(--activeRecording);
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -14px;
  top: -14px;
  animation-duration: 2.0s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

.sound_btn, .microphone_btn {
  background: transparent;
  color: var(--green);
  border: 1px solid var(--gray);
  padding: 15px;
  margin-left: 10px;
}

.buttons-wrapper {
  display: flex;
  flex-basis: 80%;
  align-items: center;
  justify-content: space-between;
}

.input-wrapper {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.send_message_btn {
  border: none;
  border-radius: 50%;
  padding: 9px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--white);
  background-color: var(--green);
  margin-right: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  cursor: pointer;
  transform: translateX(2px);
}

.user-message_input {
  background-color: var(--white);
  border-radius: 50px;
  border: none;
  margin-left: 5px;
  width: 100%;
  padding: 20px;
  width: 100%;
  outline: none;
  height: 30px;
}

.user-message_input:focus {
  border: 1px solid var(--inputMessageFocus);
}

@media(max-width: 600px) {
  .chat-input-wrapper {
    flex-direction: column;
  }
  .buttons-wrapper {
    width: 100%;
    margin-top: 30px;
  }
  .sound_btn, .microphone_btn {
    padding: 6px;
  }
  .hide {
    display: none;
  }
  .expand {
    flex-basis: 100%;
  }
}