

.work-button-list{
    list-style: none;
    cursor: pointer;
    line-height: 2;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: rgb(63, 63, 63) !important;
    padding: 5px !important;
    margin-left: 40px !important;
    font-weight: 500;
    text-align: left !important;
    border-bottom: 1px solid rgb(226, 226, 226);

}

.work-button-ul{
    
}

.work-button-list:hover{
    color: var(--green) !important;
}


@media (max-width: 768px) {
    #navbar {
        z-index: 999;
    }

    .work-button-list{
        font-size: 1.2rem !important;
    }
}