

.alert-container{
    max-width: 800px !important;
    margin: 0 auto;
    float: none;
    z-index: 9999 !important;
    font-size: 1rem;
    padding: 10px !important;

}

.alert-message{
}


@media (max-width: 768px){
    .alert-message {
        font-size: 0.8rem !important;
    


    }

}