

.alert-container{
    max-width: 820px !important;
    margin: 0 auto;
    float: none;
    z-index: 9999 !important;
    font-size: 1rem;
    padding: 8px !important;

}

.alert-message{
    padding: 20px !important;
    cursor: pointer!important;
}


@media (max-width: 768px){
    .alert-message {
        font-size: 0.8rem !important;
    


    }

}