.no-padding{
    padding: 0 !important;
}

.card-text{
    font-size: 1rem !important;
    line-height: 1.5 !important;
    font-weight: 400;
}

.deleting-account-container{
    justify-content: center !important;
    text-align: center !important;
    color: rgb(131, 131, 131) !important;
    margin-top: 300px !important;
}

@media (max-width: 768px){
    #edit-button,
    #log-out-button-profile{
        font-size: 0.9rem !important;
    }

    .card-text{
        font-size: 0.8rem !important;
        line-height: 1.5 !important;
        font-weight: 400 
    }
}