

#profile-card {
    border-radius: 15px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 800px;
}

#side-menu{
    background: rgb(31, 31, 31);
    color: white;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-radius: 15px;
}

@media (max-width: 768px){
    #side-menu{
        display: none;
    }

    #profile-card {
        font-size: 0.7rem;
    }

    

}