.no-padding{
    padding: 0 !important;
}

.card-text{
    font-size: 1rem !important;
}

@media (max-width: 768px){
    #edit-button,
    #log-out-button-profile{
        font-size: 0.9rem !important;
    }

}