#dashboard-card {
    width: 100%;
}

#emely-dialogue-col {
    width: 90vh;
}

.emely-dialog_dialogue-text {
    line-height: 1.8;
    font-size: 1.2rem !important;
    text-align: left;
    font-weight: 500;
}

.button_container {
    max-width: 800px;
    margin: auto !important;
}