#dashboard-card {
	width: 100%;
	height: 100% !important;
}

#emely-dialogue-col {
	width: 90vh;
}

.emely-dialog_dialogue-text {
	line-height: 1.6 !important;
	font-size: 1rem !important;
	text-align: left;
	font-weight: 400 !important;
}

.button_container {
	max-width: 800px;
	margin: auto !important;
}

.customTooltip * {
	color: #4a4a4a;
    font-size: 0.8rem !important;
	font-family: 'Poppins';
}

.introjs-tooltip{
    min-width: 300px;
    max-width: 350px;
    margin-right: 20px !important;
}

.customTooltip .introjs-tooltip-title {
	color: #000000;
	font-size: 1.1rem !important;
}

.customTooltip .introjs-nextbutton {
	background: var(--green) !important;
	border: 2px solid var(--green) !important;
	border-radius: var(--buttonBorderRadius) !important;
	font-weight: 700 !important;
	color: rgb(255, 255, 255) !important;
	font-size: 0.9rem !important;
	text-transform: uppercase !important;
	padding: 8px 20px 8px 20px !important;
	text-decoration: none !important;
	text-shadow: none;
}

.introjs-nextbutton:hover {
	background: var(--greenHover) !important;
	color: white !important;
	border: 2px solid var(--greenHover) !important;
}

.help-button-wrapper{
    border-bottom: none !important;
    border-radius: 30px !important;
    max-width: 800px;
    margin: 0 auto;
    float: none;
    top: 80px !important;
}

.help-button{

    border-radius: 50% !important;
    font-weight: 700 !important;
    align-items: right !important;
    display: flex !important;
    float: right;
    margin: 0px 20px 0px 0px !important;
    background: var(--green) !important;
	border: 2px solid var(--green) !important;
	color: var(--white) !important;
}

.help-button:hover{
	background: none !important;
    color: var(--green) !important;
	border: 2px solid var(--green) !important;
}

.customTooltip .introjs-prevbutton {
	background: var(--green) !important;
	border: 2px solid var(--green) !important;
	color: rgb(255, 255, 255) !important;
	border-radius: var(--buttonBorderRadius) !important;
	font-weight: 700 !important;
	font-size: 0.9rem !important;
	text-transform: uppercase !important;
	padding: 8px 20px 8px 20px !important;
	text-shadow: none;
}

.introjs-prevbutton:hover {
	background: var(--greenHover) !important;
	color: white !important;
	border: 2px solid var(--greenHover) !important;
}

.introjs-helperLayer {
	border-radius: 0.5em !important;
	border: none !important;
	box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.7) !important;
	pointer-events: none;
}

.introjs-tooltip-header{
    background: rgb(238, 238, 238) !important;
}
