.user-chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -60px;
  
}

.user-image{
  max-width: 40px !important;
}

.user-dialogue-text {
  background-color: var(--userDialogueBackground);
  border-radius: 40px 0px 40px 40px;
  max-width: 60%;
  font-size: 0.9rem;
  margin-right: 30px;
  margin-top: 5px;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  box-shadow: var(--smallShadow);
  border: 2px solid rgb(209, 209, 209);
  font-weight: 500 !important;
}

@media(max-width: 500px) {
  .user-dialogue-text {
    max-width: 100%;
    margin-right: 0;
    font-size: 0.8rem !important;
  }
  .user-chat-wrapper {
    margin: 0;
  }
}