#emely-dialogue-card {
    border-radius: 60px !important;
    max-width: 900px;
    font-size: 1rem !important; 
    margin-bottom: 70px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5rem;
    border-top: 0 !important;   
}

.dialogue-row{
    align-items: end !important;
    text-align: end !important;
    border-bottom: 1px solid rgb(212, 212, 212);
}


#emely-image {
    width: 100%;
}