#emely-dialogue-card {
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 0px;
    max-width: 900px;
    font-size: 1rem !important; 
    margin-bottom: 70px;
    font-weight: 500;
    text-align: left;
    line-height: 1.8rem;
}

.dialogue-row{
    align-items: end !important;
    text-align: end !important;
    border-bottom: 1px solid rgb(212, 212, 212);
}


#emely-image {
    width: 100%;
}