@import '../Navigation/Dashboard/dashboard.css';
@import '../Navigation/ForgotPassword/forgot-password.css';
@import '../Navigation/Login/login.css';
@import '../Navigation/Signup/signup.css';
@import '../Navigation/UpdateProfile/update-profile.css';
@import '../Navigation/Home/home.css';
@import 'index.css';
@import 'emely-dialogue.css';
@import 'user-menu.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	font-family: 'Poppins', 'Montserrat', Helvetica, Arial, sans-serif;
}

.link{
	text-decoration: none;
}


#root{
	background: rgb(238, 238, 238);
}

a {
    color: green !important;
	text-decoration: none !important;
}
