@import 'dashboard.css';
@import 'forgot-password.css';
@import 'index.css';
@import 'login.css';
@import 'signup.css';
@import 'update-profile.css';
@import 'emely-dialogue.css';
@import 'home.css';
@import 'user-menu.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	font-family: 'Poppins', 'Montserrat', Helvetica, Arial, sans-serif;
}

.link{
	text-decoration: none;
}


#root{
	background: rgb(238, 238, 238);
}

a {
    color: green !important;
	text-decoration: none !important;
}
