button:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* ---- BIG BUTTONS ---- */
/* ---- Filled big buttons ---- */
.register-btn {
	background: var(--green) !important;
	border: 2px solid var(--green) !important;
	color: rgb(255, 255, 255) !important;
	border-radius: var(--buttonBorderRadius) !important;
	padding: 13px !important;
	font-weight: 700 !important;
	letter-spacing: 1px;
	box-shadow: var(--smallShadow) !important;
	transition: 0.4s !important;
}

.register-btn:hover {
	background: var(--greenHover) !important;
	color: white !important;
	border: 2px solid var(--greenHover) !important;
	transition: 0.4s !important;
}


/* ---- Outline big buttons ---- */
.register-btn_light {
	border: 2px solid var(--green) !important;
	color: var(--green) !important;
	border-radius: var(--buttonBorderRadius) !important;
	padding: 13px !important;
	font-weight: 700 !important;
	letter-spacing: 1px;
	
}


.register-btn_light:hover {
	background-color: var(--green) !important;
	color: var(--white) !important;
}

/* ---- SMALL BUTTONS ---- */

/* ---- Filled small buttons ---- */
.register-btn_small {
	background: var(--green) !important;
	border: 2px solid var(--green) !important;
	color: rgb(255, 255, 255) !important;
	border-radius: var(--buttonBorderRadius) !important;
	font-weight: 700 !important;
	letter-spacing: 1px;
	font-size: 0.9rem !important;
	text-transform: uppercase !important;
	
}

.register-btn_small:hover {
	background: var(--greenHover) !important;
	color: white !important;
	border: 2px solid var(--greenHover) !important;

}

.report-btn_small {
	background: var(--white) !important;
	border: 2px solid rgb(190, 190, 190) !important;
	color: rgb(83, 83, 83) !important;
	border-radius: var(--buttonBorderRadius) !important;
	font-weight: 500 !important;
	font-size: 0.7rem !important;
	
}

.report-btn_small:hover {
	background: var(--gray) !important;
	color: white !important;
	border: 2px solid var(--gray) !important;

}

.btn_small {
	background: var(--greenExtraLight)  !important;
	border: 1px solid var(--greenExtraLight) !important;
	color: var(--green) !important;
	border-radius: var(--buttonBorderRadius) !important;
	text-transform: uppercase !important;
	letter-spacing: 0.5px !important;
	font-weight: 600 !important;
	font-size: 0.9rem !important;
	box-shadow: var(--smallShadow) !important;
}

.btn_small:hover {
	background: none !important;
	color: var(--greenExtraLight)  !important;

}


/* ---- Outline small buttons ---- */
.register-btn_light_small {
	border: 1px solid var(--green) !important;
	color: var(--green) !important;
	border-radius: var(--buttonBorderRadius) !important;
	text-transform: uppercase !important;
	letter-spacing: 0.5px !important;
	font-weight: 600 !important;
	font-size: 0.9rem !important;
	box-shadow: var(--smallShadow) !important;
}

.btn_light_small {
	border: 1px solid var(--greenExtraLight) !important;
	color: var(--greenExtraLight) !important;
	border-radius: var(--buttonBorderRadius) !important;
	text-transform: uppercase !important;
	letter-spacing: 0.5px !important;
	font-weight: 600 !important;
	font-size: 0.9rem !important;
	box-shadow: var(--smallShadow) !important;
}



.btn_light_small:hover {
	background: var(--greenExtraLight) !important;
	color: var(--green) !important;

}



.register-btn_light_small:hover {
	background-color: var(--green) !important;
	color: var(--white) !important;
}

.register-btn_light_small-danger {
	border: 1px solid var(--red) !important;
	color: var(--red) !important;
	border-radius: var(--buttonBorderRadius) !important;
	text-transform: uppercase !important;
	letter-spacing: 0.5px !important;
	font-weight: 600 !important;
	font-size: 0.9rem !important;
}

.register-btn_light_small-danger:hover {
	background-color: var(--redHover) !important;
	color: var(--white) !important;
}

.register-btn_small-danger {
	border: 1px solid var(--red) !important;
	background-color: var(--red) !important;
	color: var(--white) !important;
	border-radius: var(--buttonBorderRadius) !important;
	text-transform: uppercase !important;
	letter-spacing: 0.5px !important;
	font-weight: 600 !important;
	font-size: 0.9rem !important;
}

.register-btn_small-danger:hover {
	background-color: var(--redHover) !important;
	color: var(--white) !important;
}

/* Profile/Avatar button  */
.avatar-btn{
	background: var(--green) !important;
	border: none !important;
	color: rgb(255, 255, 255) !important;
	font-weight: bold !important;
	margin-right: 5px;
	border-radius: 50% !important;
	align-items: center !important;
	justify-content: center !important;

}

/* Sidebar menu-button */
.register-btn_sidebar {
	letter-spacing: 0.5px !important;
	font-weight: 500 !important;
	font-size: 0.9rem !important;
	text-decoration: none !important;
	padding: 10px 10px 10px 50px!important;
	color:rgb(65, 65, 65);
	transition: 0.6s !important;
	
}

.register-btn_sidebar:hover {
	transition: 1.2s;
	background: rgb(241, 241, 241) !important;
	color: var(--black) !important;
	border-left: 10px solid var(--green) !important;	
	padding: 10px 10px 10px 60px!important;
}

.register-btn_occupation_sidebar {
	letter-spacing: 0.5px !important;
	font-weight: 500 !important;
	font-size: 1rem !important;
	text-decoration: none !important;
	padding: 10px 10px 10px 30px!important;
	color:rgb(65, 65, 65);
	transition: 0.6s !important;
	list-style-type: none;
	cursor: pointer !important;
	border-bottom: 1px solid rgb(233, 233, 233) !important;

}

.register-btn_occupation_sidebar:hover {
	transition: 1.2s;
	background: rgb(241, 241, 241) !important;
	color: var(--black) !important;
	border-left: 10px solid var(--green) !important;	
	padding: 10px 10px 10px 40px!important;
}
