@import '../Navigation/Dashboard/dashboard.css';
@import '../Navigation/ForgotPassword/forgot-password.css';
@import '../Navigation/Login/login.css';
@import '../Navigation/Signup/signup.css';
@import '../Navigation/Home/home.css';
@import '../Components/EmelyDialogue/emely-dialogue.css';
@import '../Components/UserMenu/user-menu.css';
@import '../Components/GuestMenu/guest-menu.css';
@import '../Components/WorkButton/work-button.css';
@import '../Components/Layout/AuthLayout/AuthLayout.css';
@import '../Components/EmelyChatBubble/emely-chat-bubble.css';
@import '../Components/UserChatBubble/user-chat-bubble.css';
@import '../Components/ChatInput/ChatInput.css';
@import '../Navigation/EmelyChat/EmelyChat.css';
@import '../Navigation/WorkEmely/work-emely.css';
@import '../Navigation/Profile/profile.css';
@import '../Components/Layout/ProfileCard/profile-card.css';
@import '../Components/ChatMenu/chat-menu.css';
@import '../Components/EmelySettings/emely-settings.css';
@import '../Components/ProfileInfo/profile-info.css';
@import './forms.css';
@import './buttons.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: auto;
	letter-spacing: 0.4px;
	box-sizing: border-box;
}



.Link {
	text-decoration: none;
}

.link:hover{
	color: var(--green) !important;
}

#root {
	background: none;
	margin: 0 !important;
	padding-top: 75px;
 
}

:root {
	/* ---- Common colors ---- */
	--mainBackground: rgb(238, 238, 238);
	--inputMessageFocus: rgba(122, 177, 46, 0.671);
	--userDialogueBackground: #aeffae;
	--scrollbarBackground: #f3f6f7;
	--scrollbarColor: #9e9e9e7e;
	--activeRecording: #9D2929;
	--buttonLinearGradient: linear-gradient( 90deg, #29c268 0%, #2cce6f 50%, #27ae60 100%);
	--greenHover: #2ecc71;
	--white: #ffffff;
	--green: #27ae60;
	--gray: #979797;
	--red: #b95252;
	--redHover: #ce5c5c;
	--greenLight: #33e47d;
	--greenExtraLight: #ddffeb;
	--fika: right / cover fixed no-repeat url(../Assets/images/fika.jpg); /* fika background */
	--interview: top center / cover fixed no-repeat url(../Assets/images/interview.jpeg); /* intervju backgrounds */


	/* Common border radius */
	--buttonBorderRadius: 25px;
	--inputFieldBorderRadius: 20px;

	/* Common shadow */
	--smallShadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

body {
	background: rgb(238, 238, 238) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}



a {
	color: black !important;
	text-decoration: none !important;
}

a:visited {
	color: black !important;
	text-decoration: none !important;
}

#text-link{
	color: var(--green) !important;
	font-weight: 600;

}

#text-link:hover{
	color: var(--greenHover) !important;
}

a:hover {
	color: var(--greenHover) !important;
	text-decoration: none !important;
}





@media (max-width: 768px){
    *{
		font-size: 1rem !important;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 1.4rem !important;
	}

}