#profile-card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 800px;
    background: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 15px !important;

}

@media (max-width: 768px){
    #profile-card{
        font-size: 1rem;
    }

}