.navbar-toggler{
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid rgb(167, 167, 167) !important;
    border-radius: 90px !important;
    padding: 10px !important;
    background: white !important;
}

.navbar{
    border-bottom: none !important;
    border-radius: 30px !important;
    max-width: 800px;
    margin: 0 auto;
    float: none;

}

.menu-rows{
    border-top: 1px solid rgb(226, 226, 226) !important;
}

#top-menu-item{
    border-top: 0px !important;
}

#menu-user-button{
    font-size: 1rem;
    display: block ;
    font-weight: 600 !important;
}

.nav-item{
    cursor: pointer !important;
}


@media (max-width: 1000px){
    #menu-user-button{
        display: none;
    }

}