.navbar-toggler{
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid rgb(167, 167, 167) !important;
    border-radius: 90px !important;
    padding: 10px !important;
    margin-top: 20px;
    background: white !important;
}

#menu-user-button{
    font-size: 1.3rem;
}


@media (max-width: 768px){
    #menu-user-button{
        display: none;
    }

}